<p id="notice"><%= notice %></p>

<h1>Listing Bank Registers</h1>

<table>
  <thead>
    <tr>
      <th>Transaction name</th>
      <th>Transaction amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_registers.each do |bank_register| %>
      <tr>
        <td><%= bank_register.transaction_name %></td>
        <td><%= bank_register.transaction_amount %></td>
        <td><%= link_to 'Show', bank_register %></td>
        <td><%= link_to 'Edit', edit_bank_register_path(bank_register) %></td>
        <td><%= link_to 'Destroy', bank_register, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bank register', new_bank_register_path %>

<p>Total balance:<%= @total %></p>
