<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction name:</strong>
  <%= @bank_register.transaction_name %>
</p>

<p>
  <strong>Transaction amount:</strong>
  <%= @bank_register.transaction_amount %>
</p>

<%= link_to 'Edit', edit_bank_register_path(@bank_register) %> |
<%= link_to 'Back', bank_registers_path %>
